################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webtech_beadando_jo
/EA-07.pdf
/InfEng_Quantum.pdf
/Windows, Linux Hardening.docx
